/bitbake/
/build/
/.deps/
!/meta-openpli/
!/meta-local/
/meta-python2/
/meta-openembedded/
/openembedded-core/
/sources
/meta-local/recipes-local/
!/meta-local/recipes-local/my-image.bb
*.swp
site.conf
bblayers.conf
*~
/meta-qt6/
